@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 5px;
    padding: 5px;
}
body {
    margin: 0px;
}

:root {
    --primary-color: #fff9fb;
    --secondary-color: #4b88a2;
    --accent1-color: #B0C6D9;
    --accent2-color: #252627;
    --accent3-color: #ff8c00;

    --heading-font: "Permanent Marker", serif;
    --paragraph-font: Quicksand, sans-serif;

    --heading2-font: 'Work Sans', display;
    --paragraph2-font: Quicksand, sans-serif;
    /*--nav-background-color:*/
}
h1 { 
    font-family: var(--heading-font);
    color: var(--accent2-color);
    text-align: center;
}
h2 {
    font-family: var(--heading2-font);
    color: var(--accent3-color);
}
header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    text-align: left;
}
header img {
    width: 100px;
    height: auto;
    border-radius: 50px;
    margin-right: 25px;
}
nav {
    line-height: 1rem;
    text-align: left;
    font-size: 1.2rem;
    list-style-type: none;
}

.hero {
    margin: 10px auto;
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
        text-align: center;
        font-size: 2rem;
        text-shadow: 3px 3px 5px #777;
        margin-left: 10px;
    margin-top: 50px;
    color: var(--accent1-color);
    background-color: var(--accent2-color);
    width: 98.5%;
    opacity: .9;
}
.hero article{
    position: absolute;
        bottom: 30px;
        background-color: rgba(56, 109, 179, 0.461);
    color: white;
    margin: 10px;
    text-align: left;
    font-size: 18px;
    font-family: var(--paragraph2-font);

}
.hero article img {
    float: right;
    width: 250px;
    height: auto;
    margin: 5px;
}

.caption {
    padding: 1px;
    color: var(--accent2-color);
}