@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 5px;
    padding: 5px;
}
body {
    margin: 0px;
}

:root {
    --primary-color: #fff9fb;
    --secondary-color: #4b88a2;
    --accent1-color: #B0C6D9;
    --accent2-color: #252627;
    --accent3-color: #ff8c00;
    --accent4-color :#0f267f;

    --heading-font: "Permanent Marker", serif;
    --paragraph-font: Quicksand, sans-serif;

    --heading2-font: 'Work Sans', display;
    --paragraph2-font: Quicksand, sans-serif;
    /*--nav-background-color:*/
}
h1 { 
    font-family: var(--heading-font);
    color: var(--accent3-color);
    text-align: center;
}

h2 {
    font-family: var(--heading2-font);
    color: var(--accent4-color);

}
header {
    background-color: var(--accent1-color);
    color: white;
    padding: 1rem;
    text-align: left;

}
header img {
    width: 100px;
    height: auto;
    border-radius: 50px;
    margin-right: 25px;
}
nav {
    line-height: 1rem;
    text-align: left;
    font-size: 1.2rem;
    list-style-type: none;
    /* display: flex; */
}

.hero {
    margin: 10px auto;
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
        text-align: center;
        font-size: 2rem;
        text-shadow: 3px 3px 5px #777;
        margin-left: 5px;
    margin-top: 50px;
    color: var(--accent3-color);
    background-color: var(--accent2-color);
    width: 98.5%;
    opacity: .9;
}
.hero article{
    position: absolute;
        bottom: 55px;
        background-color: rgba(56, 109, 179, 0.461);
    color: white;
    margin: 0px;
    text-align: left;
    font-size: 18px;
    font-family: var(--paragraph2-font);
    padding: 4px;
    margin-right: 125px;
    margin-left: 125px;
}
.hero article img {
    float: right;
    width: 250px;
    height: auto;
    margin: 5px;
}

/* Week 04 enhancements */
header {
    margin: 1em auto;
    /* display: grid; */
    display: flex;
    /* grid-template-columns: 35%, 1fr; */
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1240px;
}
header img{
    margin: 0 0.25rem 0 1rem;
    width: 110px;
    height: auto;
}
nav {
    text-align: right;
    width: 100%
}

.navigation {
    display: flex;
    list-style: none;
   
}
.navigation li {
    flex: 2 1 10%;
    grid-gap: 10px;
    text-align: right;
    display: block;
}
.navigation a {
    display: block;
    color: navy;
    padding: 4px;
    text-decoration: none;
    
    
}
.navigation a:hover {
    color: #ff8c00;
    font-weight: 700;
    text-decoration: underline;
}
h2 {
    text-align: center;
    font: large;
}

h2 p {
    text-align: justify;
    padding: 3px;
}
.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    
}
.history img {
    justify-self: center;
}
.adventures {
    display:flex;
    width: 100%;
    /* max-width: 220px; */
    /* margin: auto; */
}
.adventures figure img {
    width: 100%;
}
.adventures figcaption {
    background-color: #252627;
    color: #d3d4d9;
    font: var(--paragraph-font);
    padding: 3px;
    text-align: center;
    margin-top: -13px;
    margin-left: 10px;
    margin-right: -10px;
}
footer {
    display: flex;
    justify-content: space-around;
    /* align-items: left; */
    background-color: var(--accent3-color);
    padding: 10px 5px;
    margin-top: 50px;
    color: black;
}

footer p {
    width: 100%;
    align-self: center;

}
.sociallinks img {
    width: 35px;
}

/* Contact Page */
.h1 {
    color: var(--accent4-color);
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    background-color: beige;
    max-width: 1000px;
    margin: 15px auto;
    padding: 10px;
    border: 2px solid #4b88a2;
    border-radius: 5px;
}

.company-info {
    color: black;
    font-size: 1.3rem;
    margin-bottom: 10px;
}
    
.our-employees {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: var(--accent4-color)
}
.our-employees {
    box-sizing: border-box;
    background-color: beige;
    border: 2px solid #4b88a2;
}

form {
    display: grid;
    background-color:#0f267f;
    color: #fff9fb;
    font-size: 20px;
    width: 565px;
    border-radius: 0.25rem;
    padding: 1rem;
    margin: 0 auto;
}
fieldset {
    display: grid;
    grid-gap: 1.25rem;
    margin: .5rem;
    padding: 1rem;
}

legend {
    padding: 0.25rem;
    color: #fff9fb;
    font-size: 1.2em;
}

label {
    text-align: left;
}

.help-form1 {
    display: grid;
    
}
.contact-form2 {
    display: block;
    
}

input, textarea {
    margin-bottom: 15px;
    font-size: 1rem;
    padding: .5rem;
}

input[type="checkbox"] {
    width: 50px;
    height: 20px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    color:hsl(230, 100%, 50%);
    border: none;
    font-size: 25px;
    font-weight: bold;
    border-radius: 1.5em;
}

button:hover {
    background-color: #e6fa06;
}

a{
    color: black;
    text-align: center;
}